<div
  class="relative flex justify-center items-start md:items-center w-screen h-screen max-h-screen p-4 md:p-16"
>
  <app-carousel-abu-maher></app-carousel-abu-maher>
</div>
<div class="w-screen m-auto max-w-[70%] mt-12 sm:mt-28 flex flex-col text-gray-500">
  <div class="text-2xl font-noto_english">Title placeholder</div>
  <div class="flex flex-col items-center">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      amet asperiores similique atque aliquam eius ratione incidunt officiis
      possimus, magni magnam architecto a autem dignissimos provident aliquid
      laborum exercitationem consequuntur!
    </div>
    <div>
      <!-- <app-map-abu-maher></app-map-abu-maher> -->
    </div>
  </div>
</div>
