<div
  class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-8 py-12 place-content-center place-items-center"
>
  <div
    class="col-span-1 rounded-md h-52 w-80 xl:w-96 flex justify-center items-center cursor-pointer hover:scale-105"
    [routerLink]="['rouba']"
  >
    <div class="w-full h-full relative">
      <img
        src="/assets/placeholder4.JPG"
        class="absolute w-full h-full object-cover object-bottom rounded-md"
        alt=""
      />
      <div
        class="flex flex-col gap-1 absolute justify-center items-center w-full h-full z-50"
      >
        <div
          class="font-noto_arabic_secondary cursor-pointer text-5xl font-bold text-pink-300 drop-shadow-[2px_2px_0px_rgba(22,160,133,1)] z-50"
        >
          روبا
        </div>
        <div
          class="font-noto_arabic_secondary cursor-pointer text-5xl font-bold text-pink-300 drop-shadow-[2px_2px_0px_rgba(22,160,133,1)] z-50"
        >
          ROUBA
        </div>
      </div>
    </div>
  </div>
    <div
    class="col-span-1 rounded-md h-52 w-80 xl:w-96 flex justify-center items-center cursor-pointer hover:scale-105"
    [routerLink]="['abu-maher']"
  >
    <div class="w-full h-full relative">
      <img
        src="/assets/placeholder3.JPG"
        class="absolute w-full h-full object-cover object-bottom rounded-md"
        alt=""
      />
      <div
        class="flex flex-col gap-1 absolute justify-center items-center w-full h-full z-50"
      >
        <div
          class="font-noto_arabic_secondary cursor-pointer text-5xl font-bold text-orange-400 drop-shadow-[2px_2px_0px_rgba(22,160,133,1)] z-50"
        >
          ابو ماهر
        </div>
        <div
          class="font-noto_arabic_secondary cursor-pointer text-5xl font-bold text-orange-400 drop-shadow-[2px_2px_0px_rgba(22,160,133,1)] z-50"
        >
          ABU-MAHER
        </div>
      </div>
    </div>
  </div>
</div>
