<div class="relative flex justify-center items-start md:items-center w-screen h-screen max-h-screen p-4 md:p-16">
  <app-carousel-rouba></app-carousel-rouba>
</div>
<div class="w-screen m-auto max-w-[70%] mt-28 flex flex-col text-gray-500">
  <div class="text-2xl font-noto_english">
    Title placeholder
  </div>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus amet asperiores similique atque aliquam eius ratione incidunt officiis possimus, magni magnam architecto a autem dignissimos provident aliquid laborum exercitationem consequuntur!</div>
</div>
