<div class="flex p-3 justify-between absolute top-0 w-screen font-noto_english z-50">
    <div class="flex flex-col">
        <div class="font-noto_arabic text-4xl cursor-pointer">جمع مصر</div>
    </div>
    <div class="font-noto_english text-xs pt-2 cursor-pointer">
        AUGUST, 2024
    </div>
    <div class="flex justify-between gap-2 text-xs pt-2">
        <div class="cursor-pointer">STORIES</div>
        <div class="cursor-pointer">IMAGES</div>
        <div class="cursor-pointer">INFO</div>
    </div>
</div>